.MuiButton-root {
  background-color: #78C2D2;
  color: #FFFFFF;
  border-radius: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  /* font-size: 16px !important; */
  font-size: 16px !important;
  font-weight: 500;
  text-transform: inherit;
}

.MuiButton-contained:hover {
  background-color: #FFFFFF;
  border: 2px solid #48A8BC;
  color: #48A8BC;
}
html, body {
  margin:0;
  overflow: hidden;
  font-weight: "500";

}
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.right-sidebar::-webkit-scrollbar {
  display: none;
}
.right-sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.timetable .MuiButton-root {
  background-color: white !important;
  color: #48A8BC 
}
.timetable .rs__event__item .MuiButtonBase-root {
  background-color: #48A8BC !important;
  color: white !important
}
.timetable .rs__event__item .MuiButtonBase-root .MuiTypography-root{
  color: white !important
}
.timetable .MuiTypography-root {
  color: #48A8BC
}