
html, body {
  margin:0;
  overflow: hidden;
  font-weight: "500";

}
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.right-sidebar::-webkit-scrollbar {
  display: none;
}
.right-sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.timetable .MuiButton-root {
  background-color: white !important;
  color: #48A8BC 
}
.timetable .rs__event__item .MuiButtonBase-root {
  background-color: #48A8BC !important;
  color: white !important
}
.timetable .rs__event__item .MuiButtonBase-root .MuiTypography-root{
  color: white !important
}
.timetable .MuiTypography-root {
  color: #48A8BC
}
.timetable .rs__multi_day .MuiButtonBase-root {
  background-color: #48A8BC !important;
}
.timetable .rs__multi_day .MuiButtonBase-root .MuiTypography-root{
  color: white !important
}